@font-face {
	font-family: 'NeueHaasGroteskDisp Pro';
	src: url(../../assets/fonts/NHaasGroteskDSPro-55Rg.woff2) format('woff2'),
	url(../../assets/fonts/NHaasGroteskDSPro-55Rg.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGroteskDisp Pro';
	src: url(../../assets/fonts/NHaasGroteskDSPro-56It.woff2) format('woff2'),
	url(../../assets/fonts/NHaasGroteskDSPro-56It.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'NeueHaasGroteskDisp Pro';
	src: url(../../assets/fonts/NHaasGroteskDSPro-75Bd.woff2) format('woff2'),
	url(../../assets/fonts/NHaasGroteskDSPro-75Bd.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}